<!--<md-dialog aria-label="Mango (Fruit)">
    <md-content class="md-padding">
        <form name="clientForm">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>SKU</label>
                    <input ng-model="model.product._id">
                </md-input-container>
                <md-input-container flex>
                    <label>Nome</label>
                    <input ng-model="model.product.nome">
                </md-input-container>
            </div>
            <md-input-container flex>
                <label>Colore</label>
                <input ng-model="model.product.colore">
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Taglia</label>
                    <input ng-model="model.product.taglia">
                </md-input-container>
                <md-input-container flex>
                    <label>Prezzo</label>
                    <input ng-model="model.product.prezzo">
                </md-input-container>
                <md-input-container flex>
                    <label>Quantità</label>
                    <input ng-model="model.product.qnt">
                </md-input-container>
            </div>
        </form>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer()"> Reset </md-button>
        <md-button ng-click="submit()" class="md-primary"> Aggiungi </md-button>
    </div>
</md-dialog>-->
<md-dialog aria-label="Mango (Fruit)">
    <md-content class="md-padding">
        <form name="clientForm">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>SKU</label>
                    <input ng-model="model.editObj._id">
                </md-input-container>
                <md-input-container flex>
                    <label>Nome</label>
                    <input ng-model="model.editObj.nome">
                </md-input-container>
            </div>
            <md-input-container flex>
                <label>Colore</label>
                <input ng-model="model.editObj.categoria">
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Sesso</label>
                    <input ng-model="model.editObj.sesso">
                </md-input-container>
                <md-input-container flex>
                    <label>Prezzo</label>
                    <input ng-model="model.editObj.prezzo">
                </md-input-container>
                <md-input-container flex>
                    <label>Descrizione</label>
                    <input ng-model="model.editObj.descrizione">
                </md-input-container>
            </div>
        </form>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer()"> Reset </md-button>
        <md-button ng-click="sendEdit(model.editObj)" class="md-primary"> Modifica </md-button>
    </div>
</md-dialog>